<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.japanzai.koroshiya"
    android:versionCode="46"
    android:versionName="2.0.8" >
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="22"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:allowBackup="false"
        android:theme="@style/AppTheme" >
        <activity android:name="com.japanzai.koroshiya.reader.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.japanzai.koroshiya.filechooser.FileChooser" />
        <activity android:name="com.japanzai.koroshiya.filechooser.BulkDelete" />
        <activity android:name="com.japanzai.koroshiya.settings.SettingsView" />
        <activity android:name="com.japanzai.koroshiya.reader.Reader" />
        <activity android:name="com.japanzai.koroshiya.reader.Progress" />
        <activity android:name="com.japanzai.koroshiya.About" />
        <activity android:name="com.japanzai.koroshiya.Credits" />
    	<activity android:name="com.japanzai.koroshiya.ErrorReport" />
    
    </application>

</manifest>